.typewriter h1 {
    color: #fff;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .8s step-end 10;
      animation-fill-mode: forwards;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }


.border-wrap1 {
    max-width: 700px;
    position: relative;
    background: linear-gradient(to right, #314664, #D2A540);
    padding: 1px;
    border-radius: 8px;
    margin: 14px;
}

#about-me-container {
    padding: 12px;
    margin: 2px;
    max-width: 800px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.about-me-headings {
    color: #124b30;
    font-size: 25px;
    font-style: italic;
}
