.typewriter h1 {
    color: #fff;
    font-family: monospace;
    overflow: hidden; 
    border-right: .15em solid #F9FB74; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(25, end),
      blink-caret .8s step-end 10;
      animation-fill-mode: forwards;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #F9FB74; }
  }

.projects-text {
    text-align: start;
    margin: 20px;
    font-family: Courier New, Courier, monospace;
}

.main-container {
  border-width: 4px;
  border-style: ridge;
  border-color: #E5F8FF;
  border-radius: 2px;
  box-shadow: -10px 10px;
  margin: 10px;
}

.box-header p {
 padding-left: 20px;
 margin: 0;
 font-family: Courier New, Courier, monospace;
}

.box-header img {
  width: 30px;
  height: 30px;
}

.box-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.border-wrap {
  max-width: 900px;
  position: relative;
  padding: 1px;
}

.about-me-container {
    padding: 12px;
    margin: 2px;
    max-width: 800px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.about-me-headings {
    font-family: Courier New, Courier, monospace;
    font-size: 25px;
}
