.projects-text {
  text-align: start;
  margin: 20px;
  font-family: Courier New, Courier, monospace;
}

.about-me-container {
  padding: 12px;
  margin: 0 2px 2px 2px;
  max-width: 800px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgb(27, 26, 26);
  color: rgb(255, 255, 255);
}

.about-me-headings {
  font-family: Courier New, Courier, monospace;
  font-size: 25px;
  color: #ffffff;
}
