form input, form textarea {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    background: #ffffff;
    border-color: #20DD88;
    border-width: 3px;
    border-style: solid;
}

form input:focus,
form textarea:focus {
    outline: none !important;
    border-color: #F9C486 !important;
    border-width: 3px;
    border-style: solid;
}

form label {
    font-family: 'Roboto', 'sans-serif', 'Courier New', Courier, monospace;
    font-weight: 400;
    display: block;
}
  
#form-container {
    padding: 10px;
    margin: 3px;
    max-width: 700px;
    border-radius: 8px;
}

.border-wrap1 {
    max-width: 700px;
    position: relative;
    background: linear-gradient(to right, #20DD88, #F9C486);
    padding: 1px;
    border-radius: 8px;
    margin: 14px;
}

form button {
    padding: 15px;
    background: #20DD88;
    color: white;
    font-size: 20px;
    font-weight:bold;
    border-color: #20DD88;
    border-width: 3px;
    border-style: solid;
    outline: none;
    cursor: pointer;
    width: 120px;
    border-radius: 10px;
    text-align: center;
}

form button:hover {
    background: #ffffff;
    border-color: #20DD88;
    border-width: 3px;
    border-style: solid;
    color:#20DD88;
}