.projects-text {
    text-align: start;
    margin: 20px;
    font-family: Courier New, Courier, monospace;
}

form input, form textarea {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    background: #ffffff;
    border-color: #662C92;
    border-width: 3px;
    border-style: solid;
}

form input:focus,
form textarea:focus {
    outline: none !important;
    border-color: #D2A540 !important;
    border-width: 3px;
    border-style: solid;
}

input,
input::placeholder {
    font-size: large;
}

form label {
    font-family: sans-serif, Courier New, Courier, monospace;
    font-weight: 400;
    display: block;
}
  
#form-container {
    padding: 10px;
    margin: 0 2px 2px 2px;
    width: auto;
    border-radius: 8px;
    background-color: rgb(27, 26, 26);
  color: rgb(255, 255, 255);
}

.btn-wrapper2  {
    font-family: Courier New, Courier, monospace;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    background: #C0C0C0;
    padding: 5px;
    border: 3px solid #7c7c7c;
    border-top-color: #fff;
    border-left-color: #fff;
    height: 30px;
    width: 115px;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    margin: 8px;
    color: black;
}

.btn-wrapper2:hover {
    background: #969494;
    color: #551A8B;
    font-weight:bold;
    box-shadow: 5px 5px #551A8B;
}

#character-counter-container {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 0 auto;
    padding: 3rem;
    width: 60%;
}

#character-counter {
    text-align: right;
    margin: 8px;
    font-family: sans-serif, Courier New, Courier, monospace;
}

.text-danger {
    color: #d90429;
}

.btn-wrapper2:disabled {
    background: #969494;
    color: #7e7c7c;
    font-weight:bold;
    box-shadow: 5px 5px #000000;
    cursor: not-allowed;
    font-family: Courier New, Courier, monospace;
}

.g-recaptcha div:first-child
  {
    margin: auto;
  }