@font-face {
    font-family: 'MADE Soulmaze Outline Regular';
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap') format('font-format'); 
}


  @keyframes fadeIn {
    0% {
      transform: translateY(-70px);
      opacity: 1;
    }
  
    100% {
      transform: translateY(-25px);
      opacity: 1;
    }
  }
  

.XL-text {
    text-transform: uppercase;
    opacity: 0;
    font-weight: bolder;
    text-align: center;
    color: #ffffff;
    font-family: "MADE Soulmaze Outline Regular";
    line-height: min(10vw, 81px);
    text-shadow: 0px 0px 21px rgb(255 255 255 / 65%);
    z-index: 1;
    animation: fadeIn 1.5s ease-in 0s forwards;
  }
  
  .L-text {
    position: absolute;
    font-family: "MADE Soulmaze Outline Regular";
    text-transform: uppercase;
    text-align: center;
    font-size: min(10vw, 85px);
    font-weight:bolder;
    line-height: min(10vw, 81px);
    color: transparent;
    -webkit-text-stroke: 0.3px rgba(255, 255, 255, 0.497);
  }


.img-icons {
    width:50px;
    height:50px;
}

#intro {
    padding: 12px;
    margin: 2px;
    max-width: 700px;
    border-radius: 8px;
}

.border-wrap1{
        max-width: 700px;
        position: relative;
        background: linear-gradient(to right, #314664, #D2A540);
        padding: 1px;
        border-radius: 8px;
        margin: 10px;
}

#skills {
    padding: 12px;
    margin: 2px;
    max-width: 700px;
    border-radius: 8px;
}

.border-wrap2{
        max-width: 700px;
        position: relative;
        background: linear-gradient(to right,  #D2A540, #314664);
        padding: 1px;
        border-radius: 8px;
        margin: 10px;
}

#skills-images {
    padding: 12px;
    margin: 2px;
    max-width: 700px;
    border-radius: 8px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.border-wrap3 {
    max-width: 700px;
    position: relative;
    background: linear-gradient(to right, #314664, #D2A540);
    padding: 1px;
    border-radius: 8px;
    margin: 10px;
}

