@font-face {
    font-family: 'MADE Soulmaze Outline Regular';
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap') format('font-format'); 
}


  @keyframes fadeIn {
    0% {
      transform: translateY(-70px);
      opacity: 1;
    }
  
    100% {
      transform: translateY(-30%);
      opacity: 1;
    }
  }
  

.XL-text {
    text-transform: uppercase;
    opacity: 0;
    font-weight: bolder;
    text-align: center;
    color: #ffffff;
    font-family: "MADE Soulmaze Outline Regular";
    line-height: min(10vw, 81px);
    text-shadow: 0px 0px 21px rgb(255 255 255 / 65%);
    z-index: 1;
    animation: fadeIn 1.5s ease-in 0s forwards;
  }
  
  .L-text {
    position: absolute;
    font-family: "MADE Soulmaze Outline Regular";
    text-transform: uppercase;
    text-align: center;
    font-size: min(10vw, 85px);
    font-weight:bolder;
    line-height: min(10vw, 81px);
    color: transparent;
    -webkit-text-stroke: 0.3px rgba(255, 255, 255, 0.497);
  }

  .index-box1 {
    margin-top: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    position: relative; 
  }

.img-icons {
    width:50px;
    height:50px;
    margin: 3px;
}

#intro {
    padding: 12px;
    margin: 2px;
    max-width: 700px;
    border-radius: 8px;
}

.index-container {
  display: flex;
  flex-direction: row;
}

.main-container {
  border-width: 4px;
  border-style: ridge;
  border-color: #E5F8FF;
  border-radius: 2px;
  box-shadow: -10px 10px;
  margin: 10px;
}

.box-header p {
 padding-left: 10px;
 margin: 0;
 font-family: Courier New, Courier, monospace;
}

.box-header img {
  width: 30px;
  height: 30px;
}

.box-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.border-wrap {
  max-width: 900px;
  position: relative;
  padding: 1px;
}

.border-wrap2 {
  max-width: 400px;
  position: relative;
  padding: 1px;
}

#skills {
    padding: 12px;
    margin: 2px;
    max-width: 700px;
    border-radius: 8px;
}

#skills-images {
    padding: 12px;
    margin: 2px;
    max-width: 700px;
    border-radius: 8px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

