#intro {
  padding: 12px;
  margin: 0 2px 2px 2px;
  max-width: 700px;
  border-radius: 8px;
  background-color: rgb(27, 26, 26);
  color: rgb(255, 255, 255);
}

.index-text {
  text-align: start;
  margin: 20px;
  font-family: Courier New, Courier, monospace;
  font-size: 30px;
}

.index-headings {
  font-family: Courier New, Courier, monospace;
  font-size: 22px;
  color: #FFFFFF;
}

#skills-images {
  padding: 12px;
  margin: 0 2px 2px 2px;
  max-width: 700px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgb(27, 26, 26);
  color: rgb(255, 255, 255);
}

.img-icons {
  width: 50px;
  height: 50px;
  margin: 3px;
}
