* {
    margin: 0;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display:flex;
    height: auto;
    justify-content: space-between;
}

.bold {
    font-weight: bold;
}

.box1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 40px;
  }

.box2 {
    flex: 1.5;
    text-align: left;
}


h1 {
    font-family: 'Roboto', 'sans-serif', 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 40px;
    text-align: end;
    margin: 5px;
}

h2 {
    font-family: 'Roboto', 'sans-serif', 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 30px;
}

p {
    font-family: 'Roboto', 'sans-serif', 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: larger;
    margin: 5px;
}

/* Breakpoints */
@media only screen and (min-width: 481px) and (max-width: 1007px) {
    .container {
        display:flex;
        /* height: 500px; */
    }
    .nav-a {
        display:inline-block;
        padding: 4px;
        font-size: 20px;
    }
    .nav-right {
        right: 0;
        text-align: right;
    }
    h1 {
        font-size: 25px;
    }

    p {
        font-size: medium;
    }
    #project-container {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .btn-wrapper-tech {
        font-size: 14px;
    }

    .btn-wrapper-tech {
        padding: 5px !important;
        width: 70px !important;;
        margin: 5px !important;;
    }

}

@media only screen and (max-width: 480px) {
    .container {
        flex-direction: column;
        /* height: 500px; */
    }
    .nav-a {
        display:inline-block;
        padding: 4px;
        font-size: 15px;
    }
    .nav-right {
        right: 0;
        text-align: right;
    }
    h1 {
        font-size: 20px;
    }

    p {
        font-size: medium;
    }

    .box1 {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0px;
      }
      #project-container {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .btn-wrapper-tech {
        font-size: 14px;
    }

    .btn-wrapper-tech {
        padding: 5px !important;
        width: 70px !important;;
        margin: 5px !important;;
    }

    
}


.skip-to-content-link {
    background: #f1a739;
    height: 30px;
    width: auto;  
    left: 70%;
    padding: 10px;
    position: absolute;
    transform: translateY(-200%);
    transition: transform 0.3s;
    font-family: 'Roboto', 'sans-serif', 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: medium;
}
  
.skip-to-content-link:focus{
    transform: translateY(0%);
}

.footer {
    margin-top: auto;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to right, #20DD88, #F9C486);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.credits {
    font-family: 'Roboto', 'sans-serif', 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size:large;
    display: inline;
}