* {
    margin: 0;
}

html {
    width: 100vw;
    overflow-x: hidden;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bold {
    font-weight: bold;
}

.box1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    position: relative; 
  }

  .box2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    position: relative; 
  }

  h1 {
    font-size: 80px;
  }

h2 {
    font-family: 'Roboto Slab', 'sans-serif', 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 30px;
}

p {
    font-family: 'Roboto Slab', 'sans-serif', 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: medium;
    margin: 5px;
}

/* Breakpoints */
@media only screen and (min-width: 481px) and (max-width: 1007px) {
    .container {
        display:flex;
    }

    .nav-a {
        display:inline-block;
        padding: 4px;
        font-size: 18px;
    }
    
    h1 {
        font-size: 45px;
    }

    p {
        font-size: medium;
        
    }
    #project-container {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .text {
        font-size: 16px !important;
    }

    .btn-wrapper-tech {
        padding: 5px !important;
        width: 90px !important;;
        margin: 5px !important;;
    }

    .credits {
        font-size: small !important;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        flex-direction: column;
    }
    .nav-a {
        display:inline-block;
        padding: 4px;
        font-size: 15px;
    }
  
    h1 {
        font-size: 30px;
    }

    p {
        font-size: medium;
    }

    .box1 {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0px;
      }
      #project-container {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .text {
        font-size: 16px !important;
    }

    .btn-wrapper-tech {
        padding: 5px !important;
        width: 90px !important;;
        margin: 5px !important;;
    }

    .image-container {
        text-align: center !important;
    }
    
    .project-imgs {
        width: 90% !important;
    }

    .overlay1 {
        width: 90% !important;
        left: 13px !important;
    }

    .overlay2 {
        width: 90% !important;
        left: 13px !important;
    }

    .overlay3 {
        width: 90% !important;
        left: 13px !important;
    }

    .credits {
        font-size: small !important;
    }

    .switch {
        margin-right: 5px !important;
    }
    
}

.skip-to-content-link {
    background: #f1a739;
    height: 30px;
    width: auto;  
    left: 70%;
    padding: 10px;
    position: absolute;
    transform: translateY(-200%);
    transition: transform 0.3s;
    font-family: 'Roboto Slab', 'sans-serif', 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: medium;
}
  
.skip-to-content-link:focus{
    transform: translateY(0%);
}

.footer {
    margin-top: auto;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    border:1px solid #a7abb3;
    border-width:1px 0;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.credits {
    font-family: 'Roboto Slab', 'sans-serif', 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size:medium;
    display: inline;
    color:black;
}
