
/* Mode Styling - Dark */
.dark-mode .typewriter h1 {
  color: #FFF;
}

.dark-mode {
    background-color: rgb(27, 26, 26);
    color: rgb(255, 255, 255);
}

.dark-mode .box2 {
    background-color: rgb(27, 26, 26);
}

.dark-mode .nav-a {
    color:rgb(255, 255, 255)
}

.dark-mode .nav-a:hover {
  color: #42FEFF;
  transition: 0.2s;
}

.dark-mode #active {
  color: #42FEFF;
  border-bottom: 4px solid #42FEFF;
  transition: 0.3s;
}

.dark-mode #intro {
  background-color: rgb(27, 26, 26);
  color: rgb(255, 255, 255);
}

.dark-mode #skills {
  background-color: rgb(27, 26, 26);
  color: rgb(255, 255, 255);
}

.dark-mode #skills-images {
  background-color: rgb(27, 26, 26);
  color: rgb(255, 255, 255);
}

.dark-mode #form-container {
  background-color: rgb(27, 26, 26);
  color: rgb(255, 255, 255);
}

.dark-mode #project-container {
  background-color: rgb(27, 26, 26);
  color: rgb(255, 255, 255);
}

.dark-mode .about-me-container {
  background-color: rgb(27, 26, 26);
  color: rgb(255, 255, 255);
}

.dark-mode .switch {
  border: 1px solid rgb(27, 26, 26);
}

.dark-mode .img-icons {
  filter:invert(1);
}

.dark-mode .btn-wrapper1 {
  box-shadow: 5px 5px white;
}

.dark-mode .btn-wrapper2 {
  box-shadow: 5px 5px white;
}

.dark-mode .box-header {
  background: linear-gradient(to right, #662C92, #42FEFF);
}

.dark-mode .border-wrap {
  background: linear-gradient(to right, #662C92, #42FEFF);
}

.dark-mode .border-wrap2 {
  background: linear-gradient(to right, #662C92, #42FEFF);
}

.dark-mode .about-me-headings {
  color: #F9FB74;
}

.dark-mode .credits {
  color: #FFFFFF;
}

/* Mode Styling - Light */

.light-mode .typewriter h1 {
  color: #000;
}

.light-mode {
    background-color: rgb(252, 252, 252);
    color: black;
}

.light-mode .box2 {
    background-color: rgb(252, 252, 252);
}

.light-mode .nav-a  {
    color:rgb(0, 0, 0)
}

.light-mode .nav-a:hover {
  color:#FC6F50;
  transition: 0.2s;
}

.light-mode #active {
  color: #FC6F50;
  border-bottom: 4px solid #f85b38;
  transition: 0.3s;
}

.light-mode #intro {
    background-color: rgb(252, 252, 252);
    color: black;
}

.light-mode #skills {
  background-color: rgb(252, 252, 252);
  color: black;
}

.light-mode #skills-images {
  background-color: rgb(252, 252, 252);
  color: black;
}

.light-mode #form-container {
  background-color: rgb(252, 252, 252);
  color: black;
}

.light-mode #project-container {
  background-color: rgb(252, 252, 252);
  color: black;
}

.light-mode .about-me-container {
  background-color: rgb(252, 252, 252);
  color: black;
}

.light-mode .switch {
  border: 1px solid rgb(252, 252, 252);
}

.light-mode .XL-text {
  color: #ffffff;
  text-shadow: 0px 0px 21px rgba(0, 0, 0, 0.753);
}

.light-mode .L-text {
  color: transparent;
    -webkit-text-stroke: 0.3px rgba(0, 0, 0, 0.497);
}

.light-mode .btn-wrapper1 {
  box-shadow: 5px 5px black;
}

.light-mode .btn-wrapper2 {
  box-shadow: 5px 5px black;
}

.light-mode .box-header {
  background: linear-gradient(to right,  #D2A540, #FC2F75);
}

.light-mode .border-wrap {
  background: linear-gradient(to right,  #D2A540, #FC2F75);
}

.light-mode .border-wrap2 {
  background: linear-gradient(to right,  #D2A540, #FC2F75);
}

.light-mode .about-me-headings {
  color: #662C92;
}


/* Switch Styling */
/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    width: 58px;
    height: 28px;
    margin-top: 2px;
    margin-bottom: 4px;
    margin-right: 20px;
    border-radius: 20px;
  }
  
/* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
/* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dbdbe2;
    transition: .4s;
    border-radius: 30px;
  }

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  border-radius: 20px;
  right: 5px; 
  bottom: 3px;
  background: linear-gradient(40deg, #d87315, #e7ac2c); 
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  transform: translateX(-1.5em); 
  background: rgb(27, 26, 26);
  box-shadow: inset 3px 2px 5px -2px #8983f7, inset 10px 5px 0 0 #a3dafb;
}

.switch:hover {
  border: 1px solid #42FEFF;
  border-radius: 20px;
}


