ul {
    list-style:none;
    list-style-type:none;
    padding-inline-start: 0;
}

.nav-list {
    border:1px solid #a7abb3;
    border-width:1px 0;
    list-style:none;
    text-align:center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav-li {
    display:inline;
}

a {
    display:inline-block;
    padding: 10px;
    font-size: 25px;
    font-family: 'Roboto', 'sans-serif', 'Courier New', Courier, monospace;
    font-weight: 500;
}

.nav-right {
    right: 0;
    text-align: right;
}