.nav-container {
    display: flex; 
    justify-content: flex-start; 
    position:relative; 
    align-items: center;
    margin: 5px;
    padding: 5px;
    border: 1px solid #a7abb3;
    border-width: 1px 0;
}

.nav-list {
  display: flex; 
  justify-content: center; 
  align-items: center;
  text-align: center;
  list-style: none;
  margin: 5px 0 5px 0;
  flex: 0 1 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  width: auto;
}

.nav-li {
  display: inline;
  margin: 0 10px; 
  white-space: nowrap; 
}

.nav-a {
  padding: 10px;
  font-size: 22px;
  font-family: sans-serif, Courier New, Courier, monospace;
  font-weight: 400;
  background-color: transparent;
  text-decoration: none;
  color:rgb(255, 255, 255)
}

.nav-right {
  flex: 0 1 auto;
  margin-left: auto;
  margin-right: 8px;
}

.nav-a:hover {
  color: #42FEFF;
  transition: 0.2s;
}

#active {
  color: #42FEFF;
  border-bottom: 4px solid #42FEFF;
  transition: 0.3s;
}
