/* Heading */ 
.typewriter h1 {
    font-family: monospace;
    overflow: hidden;
    white-space: nowrap; 
    border-right: .15em solid #F9FB74; 
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(25, end),
      blink-caret .8s step-end 10;
      animation-fill-mode: forwards;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
 @keyframes  blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #F9FB74; }
  }

/* Page intro text */
.projects-text {
    text-align: start;
    margin: 20px;
    font-family: Courier New, Courier, monospace;
}

/* Project container layout */
.main-container {
    border-width: 4px;
    border-style: ridge;
    border-color: #E5F8FF;
    border-radius: 2px;
    box-shadow: -6px 6px;
    margin: 10px;
}

.box-header p {
   padding-left: 10px;
   margin: 0;
   font-family: Courier New, Courier, monospace;
   font-size: 15px;
}

.box-header img {
    width: 20px;
    height: 20px;
}

.box-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#project-container {
    padding: 12px;
    margin: 2px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #F9FB74;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #F9FB74;
  }


.image-container:hover .overlay {
        opacity: 0.95;
}

.border-wrap {
    max-width: 900px;
    position: relative;
    padding: 1px;
}


/* Image styling */
.project-imgs {
    width: 100%;
    height: auto;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #7c7c7c;
}

.image-container {
    position: relative;
    width: 50%;
    min-width: 300px;
    max-width: 350px;
    font-size: 0;
}

/* Overlay text */
.text {
    color: rgb(0, 0, 0);
    position: absolute;
    font-size: 13px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

/* Project text */
.text-container {
    max-width: 400px;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

/* Project links */
.text-container a {
    font-family: Courier New, Courier, monospace;
    font-size: 14px;
    display: inline-block;
    text-align: center;
}

/* Tech stack info */
.tech-btns {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    white-space: nowrap;
    justify-content: center;
}

.btn-wrapper-tech {
    padding: 5px;
    background: #ffffff;
    color: rgb(0, 0, 0);
    border-color: #ffffff;
    border-width: 3px;
    border-style: solid;
    outline: none;
    width: 90px;
    border-radius: 20px;
    text-align: center;
    margin: 5px;
    overflow: hidden;
    display: inline-block;
    font-family: Courier New, Courier, monospace;
    font-weight: 400;
}

/* Button Styling */
.btn-wrapper1 {
    background: #C0C0C0;
    padding: 10px;
    border: 3px solid #7c7c7c;
    border-top-color: #fff;
    border-left-color: #fff;
    height: 17px;
    width: 115px;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    margin: 8px;
    color: black;
  }

.btn-wrapper1:hover {
    background: #969494;
    color: #FC2F75;
    font-weight:bold;
    box-shadow: 5px 5px #FC2F75;
}

.btn-wrapper2 {
    background: #C0C0C0;
    padding: 10px;
    border: 3px solid #7c7c7c;
    border-top-color: #f1f1f1;
    border-left-color: #f1f1f1;
    height: 17px;
    width: 115px;
    outline: none;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin: 8px;
    color: black;
  }

.btn-wrapper2:hover {
    background: #969494;
    color: #551A8B;
    font-weight:bold;
    box-shadow: 5px 5px #551A8B;
}



